@use "variaveis/reset";
@use "variaveis/colors";
@use "variaveis/media";
@use "sass:math";
@mixin widthPadrao (){
    width: 100%;
}
@function pixelParaEm ($valorEmPixel, $valorEmEm: 16px){
    @return math.div($valorEmPixel, $valorEmEm)+em;
}

body {
    background-color: colors.$corDeFundo;
}

li {
    list-style: none;
}

.container {
    @include widthPadrao();
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: colors.$corPrincipal;
    position: sticky;
    top: 0;
    left: 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: pixelParaEm(16px) 2em;
        max-width: 1024px;
        nav{
            margin-right: 7%;
            .menu {
                display: flex;
            
                li {
                    font-weight: bold;
                    margin-left: pixelParaEm(24px);
                    
            
                    a {
                        color: colors.$corTexto;
                        text-decoration: none;
                    }
                }
            }
            

        }
        
    }
}


section {
    padding: pixelParaEm(56px) 2em;

    .products {
        @include widthPadrao();
        margin-top: pixelParaEm(40px);
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        
        .product-item {
            img {
            @include widthPadrao();
            border-radius: pixelParaEm(16px);
            }
            .product-button {
                display: block;
                background-color: colors.$corButton;
                color: colors.$corTexto;
                text-align: center;
                padding: pixelParaEm(8px) 0;
                border-radius: pixelParaEm(8px);
                margin-top: pixelParaEm(8px);
                text-decoration: none;
            
                &:hover{
                    background-color: lighten(colors.$corButton, 10%);
                }
            }
        }    
    }
}

@media screen and (max-width: media.$mobile) {
    header{
        .container{
        padding: 1em pixelParaEm(18px);
            nav .menu{
                display: block;
            }
        }
    }
    section>.container{
        position: absolute;
        .products {
            position: relative;
            display: grid;
            grid-template-columns: repeat(1, 20em);
            column-gap: 0; 
            row-gap: 0;

            .product-item  {
                margin-bottom: pixelParaEm(32px);
            }
        }
    }
}

@media screen and (min-width: 426px) and (max-width: media.$tablet) {
    header{
        .container{
        padding: 1em pixelParaEm(43px);
        }
    }
    section{
        .container {
            max-width: 80%;
            .products {
                grid-template-columns: repeat(2, 48.5%);
                column-gap: 3%;
            }
        }

    } 
}

